.cabecalho {
    height: 75px;
    width: 100%;
    opacity: 0.93;
    align-content: center;
    background-color: #f9f9f9;
    box-shadow: -1px 17px 27px -16px rgb(0 0 0 / 41%) !important;
}

.container-portal {
    position: relative;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.img-banner {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;

    @media (max-width: '700px') {
        height: 200px;
    }
}

.conteudo {
    width: 100%;
    flex: 1 1;
}

.p-menubar {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.p-menuitem-link:active {
    outline: 0;
}

.p-menubar-root-list>.p-menuitem>.p-menuitem-link {
    @media (min-width: 960px) {
        height: 100px;
        max-width: 150px;
    }
}

@media (min-width: 960px) {
    .p-menubar-root-list>.p-menuitem {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        cursor: pointer;
        transition: border-color 0.25s;
        align-content: center;
    }

    .p-menubar-root-list>.p-menuitem:hover {
        border-color: #0e4958;
    }
}