.cabecalho {
    height: 75px;
    width: 100%;
    opacity: 0.93;
    align-content: center;
    background-color: #f9f9f9;
    box-shadow: -1px 17px 27px -16px rgb(0 0 0 / 41%) !important;
}

.rodape {
    background-color: #074960;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: '40px';
}

.container-portal {
    position: relative;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.img-banner {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;

    @media (max-width: '700px') {
        height: 200px;
    }
}

.conteudo {
    width: 100%;
    flex: 1 1;
}

.p-menubar {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.p-menuitem-link:active {
    outline: 0;
}